<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物资添加到仓库</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width" />

    <script src="../../../../../config/requirejs-config.js"></script>
    <script data-main="./js/addOrEdit" src="../../../../../assets/require/require.js"></script>

</head>
<body>

<div id="app" class="g-wrap" v-cloak>
    <!--表单-->
    <!--
            可以使用input,span,a,div,p
            以 _auto 结尾的id表示保存或提交时会上传的字段

            建议使用span标签
            以 _auto 结尾的class表示任意时刻需要显示的字段,但是保存或提交时不会上传
            以 _ori 结尾的class表示详情时需要显示的字段
        -->
    <div class="top-title">
        <div class="tt" v-text="title"></div>
        <div class="btns" v-cloak>
            <span id="doOpenWin" class="u-btn u-btn-c1 f-mr10" @click="doSave" v-if="operType!='detail'"><i class="fa fa-save"></i> 保 存</span>
            <span id="doDelete" class="u-btn u-btn-c2 f-mr10" @click="doCloseWin"><i class="fa fa-close"></i> 关闭</span>
        </div>
    </div>
    <form id="m-form" class="m-form">
        <input id="gs_std_quans_auto" v-model="gs_std_quans" type="hidden"    />
        <table class="m-table">
            <tbody>
            <tr hidden>
                <td width="20%" align="right" class="dseLabel">物资编码</td>
                <td colspan="3">
                    <input id="ma_cds_auto" v-model="ma_cds" type="text"  readonly="readonly"  />
                    <span class="ma_cds_ori"></span>
                </td>
            </tr>
            <tr>
                <td width="20%" align="right" class="dseLabel">物资名称</td>
                <td colspan="3">
                    <input id="ma_nms_auto" v-model="ma_nms" type="text" readonly="readonly"   />
                    <span class="ma_nms_ori"></span>
                </td>
            </tr>
            <tr>
                <td width="20%" align="right" class="dseLabel require">管理部门</td>
                <td colspan="3">
                    <input id="org_cd_auto" type="text" />
                    <span class="org_cd_ori"></span>
                </td>
            </tr>
            <tr>
                <td width="20%" align="right" class="dseLabel require">选择仓库</td>
                <td colspan="3">
                    <input id="wh_cd_auto" type="text" />
                    <span class="wh_cd_ori"></span>
                </td>
            </tr>
            <tr>
                <td width="20%" align="right" class="dseLabel require">当次数量</td>
                <td colspan="3">
                    <input id="real_quan_auto" type="text" data-rule="d{5,2}" />
                    <span class="real_quan_ori"></span>
                </td>
            </tr>
            <tr>
                <td width="20%" align="right" class="dseLabel require">物资批次</td>
                <td colspan="3">
                    <input id="ma_pc_auto" v-model="ma_pc" type="text" maxLength="32"/>
                    <span class="ma_pc_ori"></span>
                </td>
            </tr>
            <tr>
                <td width="20%" align="right" class="dseLabel require">货柜</td>
                <td colspan="3">
                    <input id="binnum_auto" type="text" maxlength="50" />
                    <span class="binnum_ori"></span>
                </td>
            </tr>
            <tr>
                <td width="20%" align="right" class="dseLabel require">仓库存储定额</td>
                <td width="30%">
                    <input id="std_quan_auto" v-model="gs_std_quans" type="text" data-rule="d{4,2}" />
                    <span class="std_quan_ori"></span>
                </td>
            </tr>
            <tr>
                <td align="right" class="dseLabel">备注</td>
                <td colspan="3">
                    <textarea id="nt_auto" maxLength="256"></textarea>
                    <div class="nt_ori f-dn g-mh120"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <!--end 表单-->
</div>

</body>
</html>