<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<title>单表详情页</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width" />

		<script src="../../../../../config/requirejs-config.js"></script>
		<script data-main="./js/addOrEdit" src="../../../../../assets/require/require.js"></script>

	</head>

	<body>

		<div id="app" class="g-wrap">

			<!--表单-->
			<!--
		                可以使用input,span,a,div,p
		                以 _auto 结尾的id表示保存或提交时会上传的字段
		            
		                建议使用span标签
		                以 _auto 结尾的class表示任意时刻需要显示的字段,但是保存或提交时不会上传
		                以 _ori 结尾的class表示详情时需要显示的字段
            -->
			<div class="top-title">
				<div class="tt" v-text="title"></div>
				<div class="btns" v-cloak>
					<span id="doOpenWin" class="u-btn u-btn-c1 f-mr10" @click="doSave" v-if="operType!='detail'"><i class="fa fa-save"></i> 保 存</span>
					<span id="doDelete" class="u-btn u-btn-c2 f-mr10" @click="doCloseWin"><i class="fa fa-close"></i> 关闭</span>
				</div>
			</div>
			<form id="m-form" class="m-form">
				<input id="PID_auto" type="hidden" v-model="rowId">
				<table class="m-table">
					<tbody>
						<tr>
							<td width="20%" align="right" class="dseLabel require">行政区划</td>
							<td width="30%">
								<input id="ADCD_auto" type="text" maxLength="25">
								<span class="ADCD_ori f-dn"></span>
							</td>
							<td width="20%" align="right" class="dseLabel require">预案类型</td>
							<td>
								<input id="TTYPE_auto" type="text" maxLength="25">
								<span class="TTYPE_ori f-dn"></span>
							</td>
						</tr>
						<tr>
							<td align="right" class="dseLabel require">编制单位</td>
							<td colspan="3">
								<input id="BZDW_auto" type="text" valType="2" maxLength="50">
								<div class="BZDW_ori f-dn"></div>
							</td>
						</tr>
						<tr>
							<td align="right" class="dseLabel require">预案名称</td>
							<td colspan="3">
								<input id="PTITLE_auto" type="text" valType="2" maxLength="50">
								<div class="PTITLE_ori f-dn"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			<!--end 表单-->

		</div>
		<div class="m-file" id="fileListTable" v-cloak>
			<div class="f-pb5 f-pt5">
				<span data-btype="1" :class="['u-btn u-btn-c1',fbtn]" @click="newfiles($event.currentTarget)" data-btype="3" data-accept="word" data-single="true"><i class="fa fa-upload"></i> 上传</span>
				<span>只能上传单个文件</span>
			</div>
			<table class="m-table">
				<thead>
				<tr>
					<th width="240" align="center">文件名</th>
					<th width="50" align="center" v-if="!isIE">文件大小</th>
					<th width="100" align="center">上传时间</th>
					<th width="50" align="center">操作</th>
				</tr>
				</thead>
				<tbody :class="fql" data-btype="3">
				<tr :class="ftr">
					<td :colspan="isIE ? 3 : 4">
						<div :class="fnull">{{fnullText}}</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>