<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width" />

    <script src="../../../../config/requirejs-config.js"></script>
    <script data-main="./js/czwymain" src="../../../../assets/require/require.js"></script>

</head>
<body>

    <div id="app" class="g-wrap">
        <!--新增、删除按钮-->
        <div v-show="operType==''">
            <!--查询-->
            <form id="search" class="m-search f-cb">
                <input id="projcd_auto" v-model="projcd" type="hidden" />
                <!--<span class="f-mr20" v-show="(!(projcd.indexOf('3')==0) )"  >-->
                    <!--<label class="dseLabel type1">选择断面</label>-->
                    <!--<input id="wrrbm_rbcd_auto" v-model="wrrbm_rbcd" type="text" />-->
                <!--</span>-->

                <span class="f-mr20">
                    <label class="dseLabel type1">测点名称</label>
                    <input id="stcds_auto" type="text">
                </span>

                <span class="f-mr10">
                    <label class="dseLabel">开始时间</label>
                    <input id="stm_auto" v-model="minDate" class="Wdate"   style="width: 110px" onClick="WdatePicker({maxDate:'#F{$dp.$D(\'etm_auto\')}',dateFmt:'yyyy-MM-dd',onpicked:DSE.app.changeDateVal});" >
                </span>
                <span class="f-mr10">
                    <label class="dseLabel" >结束时间</label>
                    <input id="etm_auto" v-model="maxDate" class="Wdate"   style="width: 110px" onClick="WdatePicker({minDate:'#F{$dp.$D(\'stm_auto\')}',dateFmt:'yyyy-MM-dd',onpicked:DSE.app.changeDateVal});" >
                </span>

                <!--<span class="f-ib g-w300 keyword_box">-->
                    <!--<input id="keyword_auto"  v-model="keyword"  type="text" placeholder="请输入测点名称搜索" onkeyup="enter('doSearch')">-->
                    <!--<span id="doSearch" class="submit" @click="doSearch"><i class="fa fa-search"></i> 查 询</span>-->
                <!--</span>-->

                <!--分隔符-->
                <!--
                <span class="f-division f-ml20 f-mr20"></span>
                <span class="f-mr20">
                      <label class="dseLabel type1">日期范围</label>
                      <el-date-picker id="txt_picker" v-model="dateVal" type="daterange" editable="true" align="left" placeholder="选择日期范围" :picker-options="pickerOptions2" @change="changeDateVal">
                      </el-date-picker>
                </span>
                 -->

                <!--<span id="doExport" class="u-btn u-btn-c1 f-rbtn f-mr20" @click="doExport">导出</span>-->
                <!--重置按钮-->
                <a id="doReset" class="f-rbtn" href="javascript:" @click="doReset"><i class="fa fa-refresh"></i> 恢复为默认</a>
            </form>
            <!--end 查询-->

            <!--表格-->
            <div class="m-datagrid g-mh200">
                <div id="datagrid"></div>
            </div>
            <div id="ex_0"  class="g-h260">
            </div>
            <!--end 表格-->
        </div>
        <div v-if="operType!=''">
            <iframe :src="url" width="100%" height="100%" scrolling="no" frameborder="0" onload="this.height=document.documentElement.clientHeight-16;"></iframe>
        </div>
    </div>

</body>
</html>