<!--几何图形编辑显示模板-->

<div>

    <p>
        say hello to <%= STCD %>
    </p>
    test page.
    <div>
        jhaoa <%= STNM %>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>名称</td>
            <td>编号</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input id="title" value="测试"></td>
            <td><input id="num" value="001221"></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default" id="geo-save">确认</button>
    <button class="btn btn-default" id="geo-cancel">取消</button>
</div>